<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 1 & 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**
7. **[String](#string)**
8. **[List](#list)**
9. **[Tuple](#tuple)**
10. **[Set](#set)**
11. **[Dictionary](#dict)**
12. **[Conditional Statements](#cond)**
13. **[Python Flow Control](#flow_control)**
14. **[List Comprehension](#lc)**
15. **[User-Define Function](#User_Define)**
16. **[Lambda Functions](#Lambda_Functions)**
    - 16.1 **[Map Function](#Map_Function)**
    - 16.2 **[Filter Function](#Filter_Function)**
    - 16.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
print('Hello, How are you?')

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# type your code here
print('A','\nB','\nC')

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [14]:
# type your code here
str = 'Hello World'
print(type(str))

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [15]:
# type your code here
input = 10
print(type(input))

<class 'int'>

ii. A fractional variable

In [16]:
# type your code here
frac = 1/3
print(type(frac))

<class 'float'>

**Declare a boolean variable and check its data type.**

In [17]:
# type your code here
boolian = False
print(type(boolian))

<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here
num = 10
print(type(num), num)

# Method: 1
numStr = num.__str__()
print(type(numStr), numStr)

# Method: 2
numStr2 = f'{num}'
print(type(numStr2), numStr2)

<class 'int'> 10
<class 'str'> 10
<class 'str'> 10

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
145 * 345 - 1345 / 45 + (462 + 23) / 3

50156.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
print(1353 + 234)
print(2355 - 346)
print(234 * 457)
print(25 / 6)
print(25 % 6)
print(pow(33, 4))
print(45 / 6)
num = 45 / 6

1587
2009
106938
4.166666666666667
1
1185921
7.5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# type your code here
# person's weight in kilograms (or pounds) divided by the square of height in meters (or feet).
def calBMI():
    height = float(input('Enter your Height (in Meters): '))
    weight = float(input('Enter your Weight (in Kgs): '))
    
    bmi = weight / (height**2)
    print('Your Calculated BMI: ', round(bmi, 2))

calBMI() # check this.

TypeError: 'int' object is not callable

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
x = (54+34) * 45
y = (0.9*2432)/0.9
if(x == y):
    cond = True
else:
    cond = False

print('Is calculated output same? ', cond, x, y)

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
str1 = input('Enter str1: ')
str2 = input('Enter str2: ')

conStr = str1 + str2
print(type(conStr), conStr)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num = 34
str = 'How old are you?'

conStr = ("% s" % num) + str # One way to convert the int to strings.
print(conStr)

conStr = "{}".format(num) + str # Another Way to convert the int to strings.
print(conStr)

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num = int(input('Enter a number:'))

for i in range(1, 11):
    data = i*num
    print(num, '* ', i, ' = ' ,data)

<a id="string"></a>
## 7. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
# Write a code to get 'Today' and 'sunny'.
str = 'Today is a sunny day.'
spaceCnt = 0
conStr = ''
for s in str:
    if s.isspace():
        spaceCnt = spaceCnt + 1
    if spaceCnt == 0 or spaceCnt == 3:
        conStr = conStr + s
        
print(conStr)     

#Obtain the last two letters.
str = input('Enter the String: ')
print('Last two letters are: ', str[len(str)-2:])

# Write the statement backwards.
print('Backword printing of string: ', str[::-1])

<a id="list"> </a>
## 8. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
# type your code here
len = 0
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

mix_list_1
for i in mix_list_1:
    len = len + 1
print('Length of Lists: ', len)

**b. Check the membership of '24' in mix_list_1**

In [ ]:
# type your code here
if 24 in mix_list_1:
    print('Yes, 24 is an Integer')
    print(type(mix_list_1[1]))
else:
    print('No, 24 is not an Integer')

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:
# type your code here
mixedList = mix_list_1 + mix_list_2
mixedList

**d. Repeat the mix_list_2 three times**

In [ ]:
# type your code here
print(mix_list_2*3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
# type your code here
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1, 7, 8, 9]

if len(num_list_1) == len(num_list_2):
    newList = [ num_list_1[i] * num_list_2[i] for i in range(len(num_list_1))]
elif len(num_list_1) > len(num_list_2):
    newList = [ num_list_1[i] * num_list_2[i] for i in range(len(num_list_2))]
    var = len(num_list_2)
    for i in range(var, len(num_list_1)):
        newList.append(num_list_1[i])
else:
    newList = [ num_list_1[i] * num_list_2[i] for i in range(len(num_list_1))]
    var = len(num_list_1)
    for i in range(var, len(num_list_2)):
        newList.append(num_list_2[i])
print(newList)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
mix_list[0]

**b. Second last element**

In [ ]:
# type your code here
mix_list[-2]

**c. First three elements**

In [ ]:
# type your code here
mix_list[:3]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [ ]:
# type your code here
mix_list[::2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [ ]:
# type your code here
def minList(num):
    j=num[0]
    for i in num:
        if (j > i):
            j = i
    return j

def minListSort(num):
    num.sort()
    return num[0]

num_list = [4, 5, 7, -2, 0, 1]
print('Smallest number from the lisT: ', minList(num_list))

print('Smallest number from the lisT: ', minListSort(num_list))

**b. Max(list)**

In [ ]:
# type your code here
# type your code here
def minList(num):
    j=num[0]
    for i in num:
        if (j < i):
            j = i
    return j

def minListSort(num):
    num.sort()
    return num[len(num)-1]

num_list = [4, 5, 7, -2, 0, 1]
print('Largest number from the lisT: ', minList(num_list))

print('Largest number from the lisT: ', minListSort(num_list))

**c. Sort the elements (use sort() and sorted() function)**

In [ ]:
# type your code here

num_list = [4, 5, 7, -2, 0, 1] 
num_list.sort()
print(num_list)

num_list.sort

**d. Create a copy of a list**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1] 
copiedList = num_list.copy()
copiedList

**e. Remove element '5' from the list**

In [ ]:
# type your code here
print(num_list)
num_list.remove(5)
num_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
if 'Data' not in languages_list:
    languages_list.append('Data')
languages_list

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
# type your code here
if 'Excel' not in languages_list:
    languages_list.append('Excel')
if 'Data' not in languages_list:
    languages_list.append('Data')
languages_list

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
# type your code here
x = languages_list.index('C')
languages_list.remove('C')
languages_list.insert(2, 'C++')
languages_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [ ]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

print('Summer Occured for ', seasons_list.count('Summer'), 'times!!!')

<a id="tuple"> </a>
## 9. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [ ]:
# type your code here
num_tuple = (4, 4, 8)
len(num_tuple)

**b. Concatenate the num_tuple and mix_tuple**

In [ ]:
# type your code here
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

newtupple = num_tuple + mix_tuple
newtupple

**c. Repeat the mix_tuple two times**

In [ ]:
# type your code here
print(mix_tuple*2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
# type your code here
tuple is immutable hence, can't be add vaule

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_list = [ i   for i in mix_tuple if i != 2 ]
mix_tuple = tuple(mix_list)
print('final Tuple: ', type(mix_tuple), mix_tuple)

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple[0][-1] = False
mix_tuple

<a id="set"> </a>
## 10. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

**b. Remove '3' from a given set**

In [ ]:
# type your code here
num_set.remove(3)
print(num_set)

**c. Clear the set**

In [ ]:
# type your code here
num_set.clear()
print(num_set)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [ ]:
# type your code here
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

def stringToSet(sen):
    # Docstring: function to convert string to set.
    set1 = set()
    list =  sen.split()
    for i in list:
        set1.add(i)
    return set1

def uniqueWords(set1, set2):
    count = 0
    list = []
    comList = []
    for i in set1:
        if i not in set2:
            list.append(i)
            count = count + 1
        else:
            comList.append(i)
    for i in set2:
        if i not in set1:
            list.append(i)
    return(count, comList, list)
        
set10 = stringToSet(sentence_1)
set11 = stringToSet(sentence_2)

print(set10.union(set11))
print(set10.intersection(set11))

print(set10.symmetric_difference(set11))
print(set10.difference(set11))
set10.difference(set11)


cnt, comList, uniList = uniqueWords(set10, set11)
print('Count of Unique words in Sentence1: ', cnt)
print()
print('Count of Unique words in Sentence2: ', len(uniList) - cnt)
print()
print('List of Unique Words in both: ', uniList)
print()
print('List of common Words in both: ', comList)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [ ]:
# type your code here
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

A.union(B)

**b. Intersection**

In [ ]:
# type your code here
A.intersection(B)

\**c. Set of all the elements of set A that are not in set B**

In [ ]:
# type your code here
print(A-B)

**d. Set of all the elements of set B that are not in set A**

In [ ]:
# type your 
print(B - A)

**e. Symmetric difference**

In [ ]:
# type your code here
A.symmetric_difference(B)

<a id="dict"> </a>
## 11. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [ ]:
# type your code here
key = {'Weight' : 67,'BMI' : 25 ,'Age' : 27, 'Profession' : 'CA'}
print(key['Weight'])

**b. Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary**

In [ ]:
# type your code here
key['Height'] = 154

**c. Write a program to retrieve the keys/values of dictionary**

In [ ]:
# type your code here
print(key)

**d. Write a program to get the value for 'Age' from the dictionary**

In [ ]:
# type your code here
print(key['Age'])

<a id="cond"> </a>
## 12. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num = lambda x: x % 7 == 0
num(7)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num = int(input('Enter a number:'))
if num == 0:
    print(num, 'is zero')
elif num < 0:
    print(num, 'is Negative')
else:
    print(num, 'is Positive')

<a id= "flow_control"> </a>
## 13. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here  

def fibonacci(a, num):
    zero = 0; tmp = 0; one = 1
    i = 0
    while(i < num - 2):
        tmp = zero + one
        a.append(tmp)
        zero = one
        one = tmp
        i = i + 1
    return a

a = [0, 1]
fibonacci(a, 10)
print('Final Fibbonaci Series:', a)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here   
num1 = int(input('Enter first number: '))
num2 = int(input('Enter Second number: '))
if(num1 > num2):
    print(num1, 'is greater than ', num2)
else:
    print(num2, 'is greater than ', num1)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
def primeNum(num):
    
    count = 0
    inc = 1
    if (num == inc):
        return 1
    while(num != inc):      
        if(num % inc == 0):
            count = count + 1
#            print('count: ', count, inc)
        inc = inc + 1
#        print(count)
    return(count)
        
inputNum = int(input('Enter a prime number:'))
if(primeNum(inputNum) == 1):
    print(inputNum, 'is a Prime Number')
else:
    print(inputNum, 'is not a Prime Number')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
# Either of a pair of numbers each of which equals the sum of the different 
# exact divisors of the other excluding the number itself.

num1 = int(input('Enter first number: '))
num2 = int(input('Enter Second number: '))

def amicable(num):

    addNum = 0
    for i in range(1, num):
        if(num % i == 0):
            addNum = addNum + i
    return addNum

if(num1 != num2):
    addNum1 = amicable(num1)
    addNum2 = amicable(num2)
    if(addNum1 == num2 and addNum2 == num1):
        print(num1, ':', num2, 'are AMICABLE')
    else:
        print(num1, ':', num2, 'are NOT AMICABLE')
else:
    print('Enter different numbers...')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>32. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
 
str = input('Enter a String to Reverse: ')
 
print("The original string is : ")
print(str)
 
print("The reversed string(using loops) is : ")
print(reverse(str))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>33. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
#  S.I. = (P × R × T)/100
p = int(input('Enter Principle: '))

r = float(input('Enter Rate: '))

t = int(input('Enter time in years: '))

SI = (p * r * t)/100
SI

<a id= "lc"> </a>
## 14. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
vowel = ['a', 'e', 'i', 'o', 'u']
str = input('Enter a string: ')

for i in str:
    if i in vowel:
        print(i)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [ ]:
# type your code here

dic = {'Aman' : 24, 'Mohit' : 25, 'Gauri' : 26, 'Imran' : 24, 'Roma' : 27}

for key, value in dic.items():
    if(value % 2 == 0):
        print(key, value)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
# key    1  2  3  4   5    6   7
# Value  1  4  9  16  25  36  49


# mydict = {   key:values     for values in range(1,10)   }

num = 10

mydict = { val:val**2    for val in range(1,11) }
print(mydict)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

str = 'Hello 123World 67Just 9Chill'
str.split()
list1 = [ int(val) for val in str  if val.isdigit() ] 
print(list1)

<a id='User_Define'></a>
## 15. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [ ]:
# Write your code here
my_list = [15, 78, 10, 45, 89]

# Swap without using any temp variable!!!
def noTempSwap(list1):
    list1[0] = list1[0] ^ list1[-1]
    list1[-1] = list1[0] ^ list1[-1]
    list1[0] = list1[0] ^ list1[-1]
    return list1

print('Original List: ', my_list)
l1 = noTempSwap(my_list)
print('Swapped List: ', l1)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Write your code here

def factorial(num):
    tmp = 1
    while(num):
        tmp = tmp * num
        num = num - 1
    return tmp
    
    
print(factorial(3))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [ ]:
# Write your code here

my_list = [1,2,3,3,11,34,3,3,4,5]

for i in my_list:
    if my_list.count(i) == 1:
        print(i)

<a id='Lambda_Functions'></a>
## 16. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Write your code here

min = lambda x, y: x < y
min(78, 34)

<a id='Map_Function'></a>
### 16.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>42. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [ ]:
# Write your code here
def divByFive(num):
    return(num % 5)

numbers = [74, 85, 14, 23]
result = map(divByFive, numbers)
print('Remainder: ', list(result)) # map return is map type only hence need to be converted to list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [ ]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

def concate(str1, str2):
    return(str1, str2)

result = map(concate, list1, list2)
print(list(result))

<a id='Filter_Function'></a>
### 16.2 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [ ]:
# Write your code here

    
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

def uniqueMember(l1):
    if l1 in arr2:
        return False
    else: 
        return True

result = filter(uniqueMember, arr1)
list(result)

<a id='Reduce_Function'></a>
### 16.3 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [ ]:
# Write your code here
import functools 

my_list = [47,11,42,102,13]

functools.reduce(lambda a, b: a if a > b else b, my_list)