## List

Lists are like arrays, but can contain heterogeneous items, that is, a single list can contain items of type
integer, float, string, or objects. It is also not a unique set of items, that is, the values can repeat. Lists are
mutable and generally initialized with a list of values specified inside square brackets or an empty list.

List is intialized with square bracket...

In [21]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']
print(batsmen)
print("batsmen[0]: ", batsmen[0]) # Print first element from the list.

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']
batsmen[0]:  Rohit

In [22]:
print(batsmen[0:2]) # Print 2 elements starting from element[0]

['Rohit', 'Dhawan']

In [23]:
print(batsmen[-1]) # Print last element.

Dhoni

In [24]:
len(batsmen) # Print the total number of elements for batsmen list...

6

In [5]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']
print("Bowlers: ", bowlers)

Bowlers:  ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [6]:
all_players = batsmen + bowlers
print("all players: ", all_players) # print in vertical format...

NameError: name 'batsmen' is not defined

In [7]:
len(all_players)

NameError: name 'all_players' is not defined

In [8]:
all_players  # print in horizontal format...

NameError: name 'all_players' is not defined

In [9]:
'Bumrah' in bowlers

True

In [10]:
'bumrah' in bowlers # Case sensitive is considered. Hence false.

False

In [11]:
'Bumrah' in batsmen

NameError: name 'batsmen' is not defined

In [12]:
if ('Bumrah' in bowlers):
    print('AVAILABLE')
else:
    print('Not Available')

AVAILABLE

In [13]:
if ('Bumrah' in batsmen):
    print('AVAILABLE')
else:
    print('Not Available')

NameError: name 'batsmen' is not defined

In [14]:
all_players.index('Chahal')  # Tell the index of the 'Chahal' element in all_players list.

NameError: name 'all_players' is not defined

In [15]:
bowlers.index('Chahal') # Tell the index of the 'Chahal' element in bowlers list.

4

#### List manipulation functions.
#### Method	Description
    append()      Adds an element at the end of the list
    clear()	      Removes all the elements from the list
    copy()	      Returns a copy of the list
    count()	      Returns the number of elements with the specified value
    extend()	  Add the elements of a list (or any iterable), to the end of the current list
    index()	      Returns the index of the first element with the specified value
    insert()	  Adds an element at the specified position
    pop()	      Removes the element at the specified position
    remove()	  Removes the first item with the specified value
    reverse()	  Reverses the order of the list
    sort()	      Sorts the list

In [77]:
players.clear() # CLear the all list elements.
print(players)

[]

In [101]:
# Check all_players list
players = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']
print(players)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [102]:
players.append('Laxman')
print(players)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Laxman']

In [103]:
cMan = ['Aman', 'Ankit']
players.append(cMan)
print(players)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Laxman', ['Aman', 'Ankit']]

In [104]:
players[7]

['Aman', 'Ankit']

In [105]:
testDel = players.copy() # Copy the players List elements in testDel
testDel

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Laxman',
 ['Aman', 'Ankit']]

In [106]:
testDel.count('Aman') # Check count useage...

0

In [107]:
testDel.extend('Pant')
testDel

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Laxman',
 ['Aman', 'Ankit'],
 'P',
 'a',
 'n',
 't']

In [108]:
testDel.index('Kohli') #Get the index # of given element...

2

In [110]:
testDel.insert(1,'Sachin') # Insert the 'Sachin' element at index 1...
testDel

['Rohit',
 'Sachin',
 'Sachin',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Laxman',
 ['Aman', 'Ankit'],
 'P',
 'a',
 'n',
 't']

In [111]:
testDel.pop(1)

'Sachin'

In [112]:
testDel

['Rohit',
 'Sachin',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Laxman',
 ['Aman', 'Ankit'],
 'P',
 'a',
 'n',
 't']

In [113]:
testDel.pop(8)
testDel

['Rohit',
 'Sachin',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Laxman',
 'P',
 'a',
 'n',
 't']

In [119]:
testDel.pop(8) # Remove the 8th Element from the list...
testDel

['Rohit', 'Sachin', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Laxman']

In [121]:
testDel.remove('Kohli') # Remove the matching elements
testDel

['Rohit', 'Sachin', 'Dhawan', 'Rahane', 'Rayudu', 'Dhoni', 'Laxman']

In [126]:
testDel.reverse() # Reverse the order of the List...

In [127]:
testDel

['Laxman', 'Dhoni', 'Rayudu', 'Rahane', 'Dhawan', 'Sachin', 'Rohit']

In [129]:
testDel.sort()  # Sort the list elements...
testDel

['Dhawan', 'Dhoni', 'Laxman', 'Rahane', 'Rayudu', 'Rohit', 'Sachin']

In [132]:
def squareMe(x):                # def function_name(arguments list):
    return(x*x)

squareMe(19)

361

In [140]:
intList = [1,2,3,4,5,6,7,8,9,10] # Short way to write square function...
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [142]:
evenInts = filter(lambda x : x % 2 == 0, intList) # Lambda function usage for even numbers.
list(evenInts)

[2, 4, 6, 8, 10]

In [143]:
oddInts = filter(lambda x : x % 2 != 0, intList) # Lambda function usage for odd numbers.
list(oddInts)

[1, 3, 5, 7, 9]

In [147]:
from random import sample    # Way to import the sample lib...
sample(range(1,20), 10)

[18, 1, 12, 10, 5, 4, 3, 7, 8, 2]